!gradle-wrapper.jar
*.aab
*.aar
*.ap_
*.apk
*.class
*.dex
*.iml
*.ipr
*.iws
*.jks
*.keystore
*.log
.cxx/
.externalNativeBuild
.gradle/
.gradletasknamecache
.idea/assetWizardSettings.xml
.idea/caches
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/gradle.xml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea_modules/
.navigation/
bin/
build/
captures/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen-external-apklibs
gen/
google-services.json
gradle-app.setting
lint/generated/
lint/intermediates/
lint/outputs/
lint/reports/
lint/tmp/
local.properties
modules.xml
out/
proguard/
vcs.xml

/app/src/androidTest/java/dev/bonch/kodik/ExampleInstrumentedTest.kt
/app/src/test/java/dev/bonch/kodik/ExampleUnitTest.kt
/.idea/codeStyles/
/.idea/runConfigurations.xml
